.dashboardContainer {
  width: 100%;
  /* margin-top: 3%; */
  /* border: 1px solid red; */
}

.stats_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  /* border: 1px solid cyan; */
}

.stats_container .stats {
  padding: 10px 30px 0 25px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); */
}

.stats_container .stats > p {
  font-weight: 400;
}

.stats_container .stats .stats_number {
  font-size: 2rem;
  font-weight: 500;
  margin-top: -5px;
}

/* SECTION HEADERS */
.sectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  align-items: flex-start;
  margin-bottom: -20px;
}

.titleSubtitle .sectionTitle {
  font-weight: var(--fontMedium);
  font-size: 1rem;
}

.titleSubtitle .sectionSubTitle {
  font-size: 0.7rem;
  padding-top: 0;
  margin-top: -10px;
}

.sectionHeader .viewMore {
  font-size: 0.8rem;
  text-decoration: none;
}

.sectionHeader .viewMore:hover {
  text-decoration: underline;
}

/* COLORS */
.clrGrey {
  color: rgb(158, 166, 181);
}
.clrBlue {
  color: rgba(55, 81, 255, 255);
}
.clrGreen {
  color: rgba(0, 82, 13, 255);
}
.clrLightGreen {
  color: rgba(0, 149, 33, 255);
}
.clrRed {
  color: rgba(160, 0, 0, 255);
}
.taskClrYellow {
  color: white;
  background: rgba(254, 196, 0, 255);
}
.taskClrGreen {
  color: white;
  background: rgba(41, 204, 151, 255);
}
.taskClrDefault {
  color: grey;
  background: rgba(223, 224, 235, 255);
}

/* GRAPHS & STATS */
.graphs_charts_Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
}

.graphContainer {
  width: 70%;
  /* border: 1px solid red; */
}

.graphContainer .graphLineHelper {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; 
  /* border: 1px solid red; */
}

.graphContainer .graphLineHelper .singleLineHelper {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* border: 1px solid cyan; */
}

.singleLineHelper .blueLine {
  width: 30%;
  border-bottom: 3px solid #147eb7;
}

.singleLineHelper .greenLine {
  width: 25%;
  border-bottom: 3px solid #99d9d9;
  /* border-radius: 5px; */
}

/* CHART GRAPH */
.graphContainer .chartContainer {
  width: 100%;
  padding: 10px 0;
  font-size: 0.7rem;
  /* border: 1px solid red; */
}

.graphChartsContainer .line {
  width: 1px;
  height: 120px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.graphs_charts_Container .graphChartsContainer {
  width: 30%;
  /* border: 1px solid red; */
}

.graphs_charts_Container .graphChartsContainer .chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0.4px 0px 0.4px 1px;
}

.graphs_charts_Container .graphChartsContainer .noTopBorder {
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.graphs_charts_Container .graphChartsContainer .chart .chartTitle {
  font-size: 0.8em;
  margin: 0;
}

.graphs_charts_Container .graphChartsContainer .chart_number {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

/* Last Section */
.otherInfoContainer {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.unresolved_alerts_Container {
  width: 45%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  box-shadow: 2px 4px 10px 1px rgba(20, 126, 183, 0.2);
  border-radius: 10px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
}

.unresolved_alerts_Container .otherDetailsContent .alert {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  /* border-width: 0.4px 0px 0.4px 1px; */
}

.unresolved_alerts_Container .otherDetailsContent .alert p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.unresolved_alerts_Container .otherDetailsContent .content_container1,
.content_container2 {
  overflow-y: auto;
}

.unresolved_alerts_Container .otherDetailsContent .content_container1 {
  height: 160px;
}

.unresolved_alerts_Container .otherDetailsContent .content_container2 {
  height: 120px;
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm,
.task {
  display: flex;
  padding: 1% 5%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm {
  padding: 0 5%;
  margin-bottom: 1.5%;
  /* border: 1px solid red; */
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm input {
  border: none;
  background: none;
  height: 30px;
  width: 80%;
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm input:focus {
  outline: none;
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm .addTaskButton {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 1% 2%;
  background: rgba(223, 224, 235, 255);
}

.unresolved_alerts_Container .otherDetailsContent .newTaskForm .addTaskButton:hover {
  background: rgba(0, 0, 0, 0.2);
}

.unresolved_alerts_Container .otherDetailsContent .task {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.unresolved_alerts_Container .otherDetailsContent .task .taskMain {
  display: flex;
  width: 70%;
  align-items: center;
}

.unresolved_alerts_Container .otherDetailsContent .task .taskMain input {
  margin-right: 10%;
  width: 1em;
  height: 1em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.unresolved_alerts_Container .otherDetailsContent .task .taskMain input:checked:after {
  content: "✔";
  padding: 2px 3px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: -2px;
  color: white;
  border: none;
  background: rgba(55, 81, 255, 255);
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.unresolved_alerts_Container .otherDetailsContent .task .taskMain > p {
  margin: 0;
}

.unresolved_alerts_Container .otherDetailsContent .task .taskPriority {
  margin: 0;
  padding: 1% 2%;
  border-radius: 5px;
  font-size: 0.7rem;
}
