.upper_footer {
  width: 100%;
  background-color: #02263c;
}
.footer_infos_container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_info_col {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

.footer_info_rowHeader {
  font-size: 0.9rem;
  font-weight: 600;
}

.footer_info_col a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin: 2px 0;
}
.footer_info_col a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer_info_col span {
  font-size: 0.8rem;
  margin: 7px 0;
}

.footer_multiple_cols_containter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_address_info {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.heading_underline {
  width: 30px;
  height: 4px;
  margin-top: 6px;
  margin-bottom: 10px;
  background-color: #99d9d9;
}

.pageDivider {
  width: 5px;
  height: 190px;
  background-color: #99d9d9;
}

/* DOWN FOOTER */
.down_footer {
  /* box-sizing: border-box; */
  /* padding: 0 2%; */
  background: #02263c;
  color: #fff;
}

.down_footer .footer__content {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  overflow: hidden;
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.down_footer .footer__text,
.down_footer .footer__links {
  font-size: 0.875rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  margin-right: 10px;
}

.logo .ministry_name {
  margin: 0;
  font-weight: var(--fontMedium);
  display: flex;
  flex-direction: column;
}

.footer__links > *:not(:last-of-type) {
  margin-right: 10px;
}

.footer__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footer_infos_container {
    width: 80%;
  }
  .footer_info_col {
    width: auto;
  }
  .footer_info_col:nth-of-type(1) {
    order: 1;
  }
  .footer_info_col:last-of-type {
    order: 3;
  }
  .footer_infos_container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_multiple_cols_containter {
    flex-direction: row;
    width: 100%;
  }
  .down_footer .footer__text {
    display: none;
  }
  .pageDivider {
    height: 5px;
    width: 100%;
    margin: 30px 0;
    order: 2;
  }

  .down_footer .footer__content {
    flex-direction: column;
  }

  .footer__links {
    margin-top: 10px;
  }
}
