/* TOP BAR */
.top_Default_Bar {
  box-sizing: border-box;
  width: 100%;
  background-color: #116897;
}

.top_navbar_wrapper {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
}

.top_Default_Bar .leftSide {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-left: 0.8rem;
}

.emblemLogoContainer {
  width: 44px;
}

.logo_heading {
  color: white;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif !important;
  /* border: 1px solid red; */
}

.rightSide {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 3rem;
}

.rightSide .font_size_change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  /* border: 1px solid red; */
}

.rightSide .font_size_change button {
  font-weight: 600;
  width: 40px;
  height: 29px;
  color: white;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  flex-shrink: 0;
}

.rightSide .font_size_change button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.rightSide .font_size_change .currentFontSize {
  padding: 3% 8%;
  border: 1.5px solid rgba(255, 255, 255, 1) !important;
}

.language_change .languages {
  background: transparent;
  border: none;
  color: white;
  padding: 1%;
  font-size: 1rem;
  text-transform: capitalize;
}

.language_change option {
  color: black;
}

/* Navbar container */
.logo__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo__center img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.navbar__wrapper {
  background-color: #147eb7;
}

.navbar {
  width: 95%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-right: 70px !important; */
  width: 200px;
}

.logo img {
  /* width: 50px; */
  border-radius: 5px;
  margin: 0;
  /* margin-right: 10px; */
}

.logo p {
  font-size: 1.125rem;
  margin: 0;
  font-weight: var(--fontMedium);
}

.nav_right_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.links__banner {
  /* width: 55%; */
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.navbar a {
  line-height: 0.85rem;
  font-size: 0.85rem;
  font-weight: var(--fontMedium);
  color: #fff;
  text-decoration: none;
}

/* RIGHT ALIGNED LIST */
.links__auth {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.links__auth a {
  display: inline-block;
  padding: 10px 30px !important;
}

.phoneMenu {
  display: none;
}

.login,
.signup {
  color: #000;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #fff;
  border-radius: 28px;
  margin: 0;
}

.login a {
  color: #000;
}

.signup {
  background-color: transparent;
}

.signup a {
  color: #fff;
}

.login:hover {
  box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 4px;
}

/* The dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: flex;
  line-height: 0.85rem;
  font-size: 0.85rem;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 30px !important;
  cursor: pointer;
  border-radius: 28px;
  color: #000;
}

/* Dropdown content (hidden by default) */
.dropdown__content {
  /* margin-top: 5px; */
  display: none;
  position: absolute;
  top: 40px;
  right: -12px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 1;
}

.dropdown__content ul {
  display: flex;
  margin: auto 5px;
  padding: 0;
  align-items: flex-start;
  flex-direction: column;
}

.dropdown__content ul li {
  padding: 5px 8px;
  margin-right: 0;
}

.dropdown__content ul li:last-child {
  margin-left: 8px;
}

/* Links inside the dropdown */
.dropdown__content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__content li a:hover {
  background-color: #0a5680;
  color: white;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .rightSide .font_size_change {
    display: none;
  }

  .links__auth {
    display: none;
  }

  .links__banner {
    display: none;
  }

  .phoneMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .phoneMenuPopup {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: #fff;
    border-radius: 0.5rem;
    display: none;
    width: max-content;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  .activeModal {
    display: block;
  }

  .phoneMenuPopup ul {
    list-style: none;
  }

  /* .phoneMenuPopup ul li {
  } */

  .phoneMenuPopup ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #222;
  }

  .phoneMenuPopup ul li:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .phoneMenu svg {
    cursor: pointer;
  }
}
